@page "/"
@namespace AxonPediaBueno.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AxonPediaBueno</title>
    <base href="~/" />
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<script>
    window.setupImageZoom = function () {
        setTimeout(() => {
            const imgs = document.querySelectorAll('img:not(.clickable-image)');
            imgs.forEach(img => {
                img.classList.add('clickable-image');
                img.addEventListener('click', function () {
                    const modal = document.getElementById('fullscreenImageModal');
                    const modalImg = document.getElementById('fullscreenImage');
                    modalImg.src = img.src;
                    modal.classList.add('show');
                });
            });
        }, 300); // permet à Blazor de rendre les images avant d’ajouter les events
    };

    window.hideFullscreenImage = function () {
        const modal = document.getElementById('fullscreenImageModal');
        const modalImg = document.getElementById('fullscreenImage');
        modal.classList.remove('show');
        modalImg.src = "";
    };
</script>






<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))

    </app>

    <script src="_framework/blazor.server.js"></script>


</body>
</html>
