@page "/test-button"

<h3>Test du bouton</h3>

<button @onclick="TestMethod">Cliquez-moi</button>

@code {
    private void TestMethod()
    {
        Console.WriteLine("Le bouton a été cliqué !");
    }
}
